APScheduler==3.6.0
certifi==2019.3.9
chardet==3.0.4
cleverbot.py==2.5.0
entrypoints==0.3
flake8==3.7.7
idna==2.8
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2015.7
requests==2.21.0
six==1.10.0
slackclient==1.3.1
tzlocal==1.2
urllib3==1.24.2
websocket-client==0.35.0
wheel==0.24.0
datadog==0.32.0
